# Root node_modules (if any)
node_modules/

# Client
client/node_modules/
client/.env

# Server
server/node_modules/
server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Build folders (optional)
dist/
build/